!.env.example
!.env.example
.DS_Store
.env
.env.*
Lotto table_upload.ipynb
.ipynb*
/.svelte-kit
/build
/build
/package
data
node_modules
data
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
