!.env.example
.DS_Store
.env
.env.*
*.ipynb*
.vercel
/.svelte-kit
/build
/package
data
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
